<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Completar Actas</title>
</head>
<body>
     <div>
    <h1>Datos TREP (83%)</h1>
        <ul>
            <li>CC: {{cc|floatformat:2}}%</li>
            <li>FPV: {{fpv|floatformat:2}}%</li>
            <li>MTS: {{mts|floatformat:2}}%</li>
            <li>UCS: {{ucs|floatformat:2}}%</li>
            <li>MAS: {{mas|floatformat:2}}%</li>
            <li>21F: {{v1f|floatformat:2}}%</li>
            <li>PDC: {{pdc|floatformat:2}}%</li>
            <li>MNR: {{mnr|floatformat:2}}%</li>
            <li>PANBOL: {{panbol|floatformat:2}}%</li>
            <li>BLANCOS: {{blancos|floatformat:2}}%</li>
            <li>NULOS: {{nulos|floatformat:2}}%</li>
        </ul>
        <ul>
        <li><a href="cargar">Leer Excel</a></li>
        <li><a href="completar">Completar Datos</a></li>
        <li><a href="comparar">Comparar Datos</a></li>
        <li><a href="admin">Administrar Datos</a></li>
        </ul>
        <img src="files/trep.png">
    </div>
</body>
</html>